
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    background-color: #F5F5F5;
}

body{
    padding: 24px 160px;
    background-color: #F5F5F5;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 32px;
    font-weight: bold;
}
.nav-button{
    font-family: Fira Sans;
    font-size: 18px;
    font-weight:600;
    padding: 30px;
    padding: 15px 30px 15px 30px;
    color: #006A50;
    border:2px solid #006A50;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.banner-div{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
}
.banner-description{
    background-color: #C6E4D6;
    margin-right: 64px;
}
.banner-main-title{
    background: #C6E4D6;
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
    opacity: 50%;

}
.banner-sub-title{
    background-color: #C6E4D6;
    font-family: Fira Sans;
    font-size: 54px;
    font-weight: bold;
    line-height: auto;

}
.banner-btn{
    font-family: Fira Sans;
    font-size: 18px;
    font-weight:600;
    padding: 30px;
    padding: 34px 17px 34px 17px;
    background-color: #006A50;
    color: white;
    border-color: #006A50;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.banner-image{
    background-color: #C6E4D6;
}

/* Cards Style */

.cards-div{
    display: flex;
}
.card-main-title{
    font-size: 40px;
    margin:80px 0px 0px;
    font-weight: bold;
    padding: 0px 0px 32px 0px;
}

.card{
    border: 1px solid rgba(14, 14, 14, 0.15);
    margin-right: 24px;
    padding: 24px;
    background-color: white;
    width: 302px;
    height: 244px;
    border-radius: 16px;
}

/* For card-4 */
.card-4{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
    background-color: white;
    width: 302px;
    height: 244px;
    border-radius: 16px;
}

.card-image{
    background-color: white;
}
.card-title{
    background-color: white;
    color:rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: bold;
}
.card-description{
    background-color: white;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/* Vision styles */
.vision-title{
    font-size: 40px;
    margin:80px 0px 0px;
    font-weight: bold;
    padding: 0px 0px 32px 0px;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;

}
.vision-cards{
    display: flex;
    justify-content: space-between;
}
.vision-card-1{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border: none;
    margin-right: 24px;
    margin-top: 16px;
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    width: 410.67px;
    height: 325px;
    border-radius: 16px;
    
}
.vision-card-1 img{
    background-color: rgba(199, 218, 250, 0.2);
}
.vision-card-1 h1{
    background-color: rgba(199, 218, 250, 0.2);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight:bold;
    color: rgba(14, 14, 14, 0.8);

}
.vision-card-1 p{
    background-color: rgba(199, 218, 250, 0.2);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.vision-card-1 button{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:600;
    padding: 30px;
    padding: 11px 20px 11px 20px;
    background-color: rgba(84, 144, 245, 1);
    color: white;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.vision-card-2{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border: none;
    margin-right: 24px;
    margin-top: 16px;
    padding: 32px;
    background-color: rgba(198, 228, 214, 1);
    width: 410.67px;
    height: 325px;
    border-radius: 16px;
}
.vision-card-2 img{
    background-color: rgba(198, 228, 214, 1);
}
.vision-card-2 h1{
    background-color: rgba(198, 228, 214, 1);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight:bold;
    color: rgba(14, 14, 14, 0.8);
}
.vision-card-2 p{
    background-color: rgba(198, 228, 214, 1);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.vision-card-2 button{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:600;
    padding: 30px;
    padding: 11px 20px 11px 20px;
    background-color: rgba(9, 161, 92, 1);
    color: white;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
 
.vision-card-3{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border: none;
    margin-top: 16px;
    padding: 32px;
    background-color: rgba(247, 235, 207, 1);
    width: 410.67px;
    height: 325px;
    border-radius: 16px;
    
}
.vision-card-3 img{
    background-color: rgba(247, 235, 207, 1);
}
.vision-card-3 h1{
    background-color: rgba(247, 235, 207, 1);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight:bold;
    color: rgba(14, 14, 14, 0.8);

}
.vision-card-3 p{
    background-color: rgba(247, 235, 207, 1);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.vision-card-3 button{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:600;
    padding: 30px;
    padding: 11px 20px 11px 20px;
    background-color: rgba(255, 194, 57, 1);
    color: white;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* Quote Section Styles */
.quote-div{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px ;
    padding: 48px 24px 48px 24px;
    margin-top: 24px;
    background-color: white;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 40px;


}
.quote-div p{
    background-color: rgba(255, 255, 255, 0);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    padding-top: 1px;
    
    
}
.quote-div h3{
    background-color: white;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight:600;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 1px;
}
.quote-sub-description{
    margin-top: 0px;
}

/* Recent News Section */
.recent-news-title{
    font-family: Fira Sans;
    font-size: 40px;
    font-weight:bold;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 1px;
}
.recent-news-description{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.recent-news-div-1{
    border: 1px solid black;
    border: none;
    border-radius: 24px;
    background-color: white;
    padding: 48px;
    display: flex;
    margin-bottom: 24px;
}

.recent-news-div-1 img{
    border-radius: 24px;
    background-color: white;
    margin-right: 32px;
    margin-bottom: 24px;
}
.recent-news-div-desc{
    background-color: white;
    margin-bottom: 100px;
}
.recent-news-div-desc h3{
    background-color: white;
    font-family: Fira Sans;
    font-size: 32px;
    font-weight:bold;
    color: rgba(14, 14, 14, 0.8);
    margin: 0px;
}
.recent-news-div-desc img{
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 0px;
}
.recent-news-div-desc p{
    background-color: white;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}
.recent-news-div-desc p>span{
    background-color: white;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-right:12px ;
}

.recent-news-div-btn{
    font-family: Fira Sans;
    font-size: 18px;
    font-weight:600;
    padding: 30px;
    padding: 13px 26px 13px 26px;
    background-color: #006A50;
    color: white;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
/* recent-news-div-2 */
.recent-news-div-2{
    border: 1px solid black;
    border: none;
    border-radius: 24px;
    background-color: white;
    padding: 48px;
    display: flex;
    margin-bottom: 24px;
}

.recent-news-div-2 img{
    border-radius: 24px;
    background-color: white;
    margin-left: 32px;
    margin-bottom: 24px;
}
.recent-news-div-2-desc{
    background-color: white;
    margin-bottom: 100px;
}
.recent-news-div-2-desc h3{
    background-color: white;
    font-family: Fira Sans;
    font-size: 32px;
    font-weight:bold;
    color: rgba(14, 14, 14, 0.8);
    margin: 0px 0px 12px 0px;
}
.recent-news-div-2-desc img{
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 0px;
    margin-left: 0;
}
.recent-news-div-2-desc p{
    background-color: white;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}
.recent-news-div-2-desc p>span{
    background-color: white;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-right:12px ;
}

.recent-news-div-2-btn{
    font-family: Fira Sans;
    font-size: 18px;
    font-weight:600;
    padding: 30px;
    padding: 13px 26px 13px 26px;
    background-color: #006A50;
    color: white;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* Donate Section Style */

.donate-div{
    text-align: center;
}
.donate-div-title{
    font-family: Fira Sans;
    font-size: 40px;
    font-weight:bold;
    color: rgba(14, 14, 14, 1);
    margin: 80px 0px 0px 0px;
}
.donate-div-sub-title{
    font-family: Fira Sans;
    font-size: 40px;
    font-weight:bold;
    color: rgba(14, 14, 14, 0.8);
    margin: 0px 0px 12px 0px;
}
.donate-div-sub-title-2{
    background-color: rgba(198, 228, 214, 1);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight:bold;
    color: rgba(14, 14, 14, 0.8);
    margin: 0px 0px 12px 0px;
}
.donate-div p{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight:400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    padding-left: 50px;
    padding-right: 50px;
}
.donate-choice{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 32px;
    
}
.donate-choice h3{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
    margin-right: 10px;
}
.donate-div-input{
    padding: 20px 40px 20px 40px;
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 950px;
    height: 40px;
    text-align: center;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight:400;
    color: rgba(14, 14, 14, 0.3);
    margin-bottom: 32px;
}
.donate-div-btn{
    font-family: Fira Sans;
    font-size: 18px;
    font-weight:600;
    padding: 30px;
    padding: 17px 34px 17px 34px;
    background-color: #006A50;
    color: white;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}